.form__title{
    margin: 34px auto 54px;
    color: black;
}
.form__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form__content-input{
    color: black;
    padding-bottom: 13px;
    margin: auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
}
.form__content-input::placeholder{
    color: #C4C4C4;
}
.form__button{
    margin: 48px auto 36px;
    padding: 13px 0;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
}
.form__button:hover{
    opacity: 50%;
}

@media screen and (max-width:2560px) and (min-width:768px) {
    .form__title{
        width: 330px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 29.05px;
    }
    .form__content-input{
        width: 330px;
    }
    .form__button{
        width: 330px;
    }

}


@media screen and (max-width:767px) and (min-width:320px) {
    .form__title{
        width: 238px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 900;
        line-height: 21.78px;
    }
    .form__content-input{
        width: 238px;
    }
    .form__button{
        width: 238px;
    }
}