.popup{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    right: 0;
}
.popup__show{
    display: flex;
}
.popup__content{
    margin: auto;
    z-index: 3;
    position: fixed;
}
.popup__button-close{
    border: none;
    cursor: pointer;
    background-image: url(../images/Close\ Icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}
.popup__button-close:hover{
    opacity: 50%;
}
.popup__add-info{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.popup__photo {
    display: none;
}

.popup__photo-open {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.popup__photo-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: auto;
}

.popup__photo-container-close-button {
    border: none;
    cursor: pointer;
    background-image: url(../images/Close\ Icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__photo-container-close-button:hover {
    opacity: 50%;
}

.popup__photo-container-image {
    max-width: 75vw;
    max-height: 75vh;
    border-radius: 15px;
}

.popup__photo-container-title {
    font-family: Inter;
    margin: 0;
    font-size: 18px;
}

@media screen and (max-width:2560px) and (min-width:768px) {
    .popup__content{
        width: 430px;
        top: 195px;
        left:calc(50vw - 215px);
    }
    .popup__button-close{          
        width: 40px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: -30px;
        right: -40px;
    }
}

@media screen and (max-width:767px) and (min-width:320px) {
    .popup__content{
        width: 282px;
        top: 150px;
        left:calc(50vw - 141px);
    }
    .popup__button-close{       
        width: 26px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: -30px;
        left: 250px;
    }
}