.popup {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  right: 0;
}

.popup__show {
  display: flex;
}

.popup__content {
  position: relative;
  z-index: 3;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.popup__button-close {
  border: none;
  cursor: pointer;
  background-image: url(../images/Close\ Icon.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup__button-close:hover {
  opacity: 50%;
}

.popup__add-info {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.popup__content-image {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 15px;
}

.popup__content-title {
  font-family: Inter;
  margin: 0;
  font-size: 18px;
}

.popup__delete-cards {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.popup__add-image-avatar {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 2560px) and (min-width: 768px) {
  .popup__content {
    min-width: 430px;
  }
  .popup__button-close {
    width: 40px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -30px;
    right: -40px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .popup__content {
    min-width: 282px;
  }
  .popup__button-close {
    width: 26px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -30px;
    left: 250px;
  }
}
