.profile{
    margin: 40px auto 0;
}

.profile__avatar{
    position: relative;
    width: 120px;
    height: 120px;    
}

.profile__avatar-image{
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
}

.profile__avatar-button-edit{
    background-image: url("../images/Edit-Avatar.png");
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    margin: auto;
    opacity: 0;
    z-index: 1;
}

.profile__info{
    display: flex;
    flex-direction: column;
}

.profile__info-content{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.profile__info-content-name{
    margin: 0;
}

.profile__info-content-add-button{
    width: 24px;
    height: 24px;
    margin: auto 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../images/Edit\ Button.png);
}

.profile__info-content-add-button:hover{
    opacity: 50%;
}

.profile__button-add{
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../images/Add\ Button.png);
}

.profile__button-add:hover{
    opacity: 50%;
}

@media screen and (max-width:2560px) and (min-width:1024px) {
    .profile{
        max-width: 882px;
        display: flex;
        flex-direction: row;
    }
    .profile__info{
        margin: auto auto auto 30px;
    }
    .profile__info-content-name{
        font-family: Inter;
        font-size: 42px;
        font-weight: 500;
        line-height: 56px;
    }
    .profile__info-paragraph{
        margin: 16px 0 0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
    } 
    .profile__button-add{
        width: 150px;
        margin: auto 0;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .profile{
        max-width: 582px;
        display: flex;
        flex-direction: row;
    }
    .profile__info{
        margin: auto auto auto 30px;
    }
    .profile__info-content-name{
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 56px;
    }
    .profile__info-paragraph{
        margin: 16px 0 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }  
    .profile__button-add{
        width: 150px;
        margin: auto 0;
    }
}

@media screen and (max-width:767px) and (min-width:320px) {
    .profile{
        max-width: 282px;
        display: flex;
        flex-direction: column;
    }
    .profile__avatar{
        margin: auto;
    }
    .profile__info{
        margin: auto;
    }
    .profile__info-content-name{
        font-family: Inter;
        font-size: 22px;
        font-weight: 500;
        line-height: 56px;
    }
    .profile__info-paragraph{
        margin: 0 auto 36px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }
    .profile__button-add{ 
        width: 282px;
        background-size: 282px 50px;
    } 
}